.padding-content {
    padding: $space-box*2;
    @include breakpoint(large) {
        padding: $space-box*2 $space-box*4;
    }
}

.line{ 
    border-bottom: solid $color-green rem-calc(1);
    height: rem-calc(1);

    
}
.outline-dot{
    position: relative;
    height: rem-calc(12);
    width: rem-calc(12);
    border: rem-calc(1) $color-green solid;
    background-color: $white;
    border-radius: 50%;
    display: inline-block;
}
.dot{
    position: absolute;
    height: rem-calc(4);
    width: rem-calc(4);
    background-color: $color-blue;
    border-radius: 50%; 
    top: rem-calc(3);
    left: rem-calc(3);
}
.view-all{
    span{
        margin-right: rem-calc(5);
    }
}
