.modal{
  &-style{
    padding: 0;
    border:none;
    border-radius: $space-box/2;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    &:focus{
      outline: 0;
    }

    @include breakpoint(small only){
      height: auto;
      min-height: auto;
    }
  }

  &-topic{
    text-align: center;
    color: $white;
    background-color: $color-blue;
    padding:$space-box 0;
  }

  &-content{
    list-style: none;
    margin: 0;
    padding: $space-box;
    text-align: left;

    li{
      padding: 0;
      margin:0 $space-box/4 $space-box/4*3;
      display: inline-block;
    }
  }

  &-form{
    padding-bottom: $space-box/2*3;
    text-align: center;
  }
}

