.padding {
  &-breadcrumbs {
    @include padding-container;
    padding-bottom: 0!important;
  }
}

.breadcrumbs{
    margin-bottom: 0;
    
    li{
        font-size: rem-calc(16);
        color: $color-blue;

        &:not(:last-child)::after{
            content: ">";
        }
    }

    a{
        color: $color-dark-gray;
    }
}
