.card-divider.title, .card-section.title {
    background-color: $card-title-background;
    color: $card-title-color;
    font-weight: bold;
}

.card-section.title {
    padding-bottom: 0.5rem;

    i {
        background-color: $white;
        border-radius: $button-radius;
    }
}