.card-divider.title, .card-section.title {
    color: $card-title-color;
    font-weight: bold;
}

.card-section.title {

    background-color: $card-divider-background;
    padding-bottom: 0.5rem;

    i {
        background-color: $white;
        border-radius: $button-radius;
    }

}