input:required {
    background-color: $required-background-color;
}

input.error {
    border-color: $alert-color;
}

p.alert, div.alert {
    color: $alert-color;
    font-weight: $global-weight-bold;
}

