.admin {
  .topic {
    background-color: $color-blue;
    color: $white;

    h2 {
      display: inline-block;
    }
  }
  &-search {
    margin-bottom: $space-box;

    @include breakpoint(small only) {
      position: relative;
      margin-bottom: rem-calc(60);

      .input {
        &-search {
          position: absolute;
          width: 100%;
          left: 0;
          top: rem-calc(44);
        }
      }
    }
  }
}
