$top-header-padding-top: 1rem;
$top-header-padding-bottom: 1rem;

.top-header {
    padding-top: $top-header-padding-top;
}

.top-header, .page-title, .main-menu {
    padding-bottom: $top-header-padding-bottom;
}

.view-id {
    float: right;
    text-transform: uppercase;
}

.logo {
    text-align: center;
}
