.share {
    &-page {
        .articles {
            margin-bottom: $space-box * 2;
        }

        .topic {
            background-color: $color-blue;
            color: $white;
        }

        h2 {
            display: inline-block;
        }

        .padding-tb-0 {
            &.padding {
                &-content {
                    padding-bottom: 0;
                    padding-top: 0;
                }
            }
        }

        figure {
            margin-bottom: $space-box/2;
            text-align: center;
            background-color: $color-light-gray;
            img {
                object-fit: cover;
                height: rem-calc(250);

                @media (min-width: 1300px) and (max-width: 1600px) {
                    height: rem-calc(250);
                }

                @media (min-width: 1000px) and (max-width: 1300px) {
                    height: rem-calc(180);
                }

                @media (min-width: 640px) and (max-width: 1000px) {
                    height: rem-calc(150);
                }

                @media (max-width: 640px) {
                    height: rem-calc(180);
                }
            }
        }

        .events {
            background-color: $white;
            margin-bottom: $space-box * 2;
            article{
                background-color: $white;
            }
        }

        .profile {
            color: $color-blue;
            display: block;

            @include breakpoint(small only) {
                width: 100%;
            }

            @include breakpoint(medium) {
                flex-grow: 1;
            }

            .display-profile {
                display: inline-block;

                img {
                    display: inline-block;
                    width: rem-calc(30);
                    height: rem-calc(30);
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .like,
        .comment {
            color: $color-blue;

            i {
                margin-right: rem-calc(5);
            }

            span {
                margin-right: rem-calc(10);
            }
        }

        .space {
            &-article {
                article {
                    margin-bottom: $space-box/2;
                }

                p {
                    color: $color-blue;
                }
            }
        }
    }

    &-image {
        margin-right: $space-box;
        @include breakpoint(small only) {
            padding-right: 0;
        }
    }

    &-space {
        margin: $space-box/2 0;
        border-bottom: 1px dashed $color-green;
        padding-bottom: $space-box/2;
    }

    &-grid {
        flex-direction: row;
        align-items: center;
    }

    ////article
    &.detail {
        .topic {
            &::after {
                border-top-color: transparent;
            }
        }

        .view {
            &-all {
                color: $color-blue;
            }
        }

        .article {
            &.padding-content {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        article {
            h2 {
                color: $color-blue;
                line-height: 1;
            }

            p {
                color: $color-blue;
            }
        }
    }

    &-action {
        display: flex;
        flex-direction: row;

        @include breakpoint(small only) {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &-like {
        @include breakpoint(small only) {
            width: 100%;
            display: block;
            margin-bottom: $space-box/2;
        }

        @include breakpoint(medium) {
            flex-grow: 1;
        }

        &-click {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            line-height: 1;
            cursor: pointer;

            &:hover {
                div {
                    background-color: $color-blue;
                }

                i {
                    color: $white;
                }
            }

            .is-active {
                background-color: $color-blue;

                i {
                    color: $white;
                }
            }

            div {
                border: 1px solid $color-blue;
                border-radius: 50%;
                padding: $space-box/2;
            }

            p {
                margin-bottom: 0;
                margin-left: $space-box/2;
            }
        }
    }

    &-download {
        margin-right: $space-box;

        @include breakpoint(small only) {
            flex: 1;
        }
    }

    &-share {
        display: flex;
        flex-direction: row;

        @include breakpoint(small only) {
            flex: 1;
        }

        label {
            margin-right: $space-box/2;
            display: inline-block;
            line-height: rem-calc(36);
            color: $color-blue;
        }

        ul {
            li {
                display: inline-block;
                margin-right: $space-box/2;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $color-blue;

                    &:hover {
                        color: lighten($color-blue, 5%);
                    }
                }
            }
        }
    }

    &.create {
        .topic {
            &::after {
                border-top-color: transparent;
            }
        }

        .btn-green {
            @include breakpoint(medium down) {
                margin-top: $space-box;
            }
        }
    }
}

.grid {
    &-head {
        display: flex;
        flex-direction: row;

        .profile {
            color: #154064;
            display: inline-block;
            padding-left: $space-box/2;

            .display-profile {
                display: inline-block;

                img {
                    display: inline-block;
                    width: 1.875rem;
                    height: 1.875rem;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}