.top-menu {
    font-size: small;
    text-transform: uppercase;
    li + li {
        border-left: 1px solid $top-menu-pipe-color;
    }
    .language li + li {
        border-color: $language-pipe-color;
    }
    .menu > li > a, .menu > li > form > button {
        line-height: 0.1rem;
        padding: 0.7rem 1rem;
        cursor: pointer;
        color: $primary-color;
    }
    .language.menu > li > a, .language.menu > li > form > button {
        color: $language-menu-color;
    }
}

.top-menu.top-bar, .top-menu.top-bar ul {
    background-color: $top-menu-background-color;
}

.top-menu.top-bar ul {
    margin-bottom: $top-header-padding-bottom;
}

.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}