body {
	&:lang(th) {
		.language {
			li.th {
				a {
					color: $white;
					background-color: $color-blue;
					border-radius: rem-calc(50);
				}
			}
		}
	}

	&:lang(en) {
		.language {
			li.en {
				a {
					color: $white;
					background-color: $color-blue;
					border-radius: rem-calc(50);
				}
			}
		}
	}
}

.sticky {
	transition: all 0.2s ease-in-out;

	&-container {
		z-index: 99;
	}

	&.is-stuck {
		.topbar-responsive {
			&-logo {
				img {
					transition: all 0.2s ease-in-out;
					height: rem-calc(40);
				}
			}

			.top-bar-title {
				padding-top: $space-box/2;
				padding-bottom: $space-box/2;
			}
		}
	}
}

.topbar-responsive {
	background: $topbar-responsive-bg;
	box-shadow: 8px 9px 10px -13px rgba(0, 0, 0, 0.75);

	&.padding-content {
		@include breakpoint(large) {
			padding-top: 0;
			padding-bottom: 0;
		}
		@include breakpoint(rem-calc(1480) down) {
			padding: 0 $space-box/4;
		}
		@include breakpoint(small only) {
			padding: $space-box;
		}
	}

	&-logo {
		vertical-align: middle;

		img {
			@include breakpoint(small only) {
			}
		}
	}

	.top-bar-title {
		margin: 0;
		padding-top: $space-box/1.5;
		padding-bottom: $space-box/1.5;

		@include breakpoint(small only) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.user {
		&-profile {
			background: none;
			margin-bottom: 0;
			border: rem-calc(1) solid $color-blue;
			border-radius: rem-calc(10);
			display: flex;
			flex-direction: row;

			@include breakpoint(rem-calc(876) down) {
				margin-left: 0;
			}

			@include breakpoint(small only) {
				float: none;
				margin-top: $space-box;
			}

			li {
				display: inline-block;

				&::after {
					content: "|";
				}

				&:last-child::after {
					content: "";
				}

				a {
					color: $color-blue;
					background-color: none;
					height: 100%;
					font-size: rem-calc(20);
					padding: 0 $space-box;

					&:focus {
						outline: none;
					}

					@include breakpoint(rem-calc(876) down) {
						padding: 0 $space-box/2;
					}
				}
			}

			&-after {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				cursor: pointer;

				@include breakpoint(small only){
					margin-top: $space-box/4*3;
				}
			}

			&-image {
				background-color: $white;
				width: rem-calc(45);
				height: rem-calc(45);
			}

			&-name {
				margin-bottom: 0;
				font-size: 1.25rem;
				color: $color-blue;

				i {
					vertical-align: text-top;
				}
			}
		}

		&-menu{
			padding: 0;
			border-color: transparent;
			width: auto;
			box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);

			li{
				&:first-child{
					border-radius: 0;
				}

				&:last-child{
					border-radius: 0;
				}
			}
			
			&-show{
				padding: 0;
				margin: 0;
				list-style: none;
				background-color: $white;

				li{
					padding: 0;
					margin: 0;

					&:focus{
						outline: none;
					}

					a{
						padding: rem-calc(7) $space-box*3 rem-calc(7) $space-box;
						display: block;
						font-size: rem-calc(20);

						&:hover{
							color:$white;
							background-color: $color-blue;
						}

						&:focus{
							outline: none;
						}
					}
				}
			}
		}
	}

	.language {
		background: none;
		margin-bottom: 0;
		margin-left: $space-box;

		@include breakpoint(small only) {
			float: none;
			margin-top: $space-box;
		}

		li {
			display: inline-block;

			&::after {
				content: "|";
				padding-left: $space-box/3;
			}

			&:last-child::after {
				content: "";
				padding-left: 0;
			}

			a {
				color: $color-blue;
				background-color: none;
				height: 100%;
				font-size: rem-calc(20);
				padding: $space-box/2;
			}

			&:hover {
				a {
					color: $white;
					background-color: $color-blue;
					border-radius: rem-calc(50);
				}
			}
		}
	}

	.menu {
		background: $topbar-responsive-bg;
		height: 100%;
		display: flex;
		align-items: flex-start;

		@include breakpoint(small only) {
			&.float-right {
				float: none !important;
			}
		}

		li {
			align-self: stretch;

			&:last-of-type {
				margin-right: 0;
			}

			a {
				color: $color-blue;
				transition: color 0.15s ease-in;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: $space-box * 3/2;
				padding-right: $space-box * 3/2;
				font-size: rem-calc(20);
				position: relative;

				&::after {
					background: none repeat scroll 0 0 transparent;
					bottom: 0;
					content: "";
					display: block;
					height: rem-calc(2);
					left: 50%;
					position: absolute;
					background: $color-blue;
					transition: width 0.3s ease 0s, left 0.3s ease 0s;
					width: 0;
				}

				&:hover::after {
					width: 100%;
					left: 0;
				}

				@include breakpoint(rem-calc(876) down) {
					padding: $space-box $space-box/4;
				}

				@include breakpoint(small only) {
					padding: $space-box 0;
				}
			}
		}

		&-icon {
			&::after {
				background-color: $color-blue;
				box-shadow: 0 rem-calc(7) 0 $color-blue,
					0 rem-calc(14) 0 $color-blue;
			}

			&:hover {
				transition: all 0.15s ease-in, border-color 0.15s ease-in;
				background-color: $color-blue;

				&::after {
					transition: all 0.15s ease-in, border-color 0.15s ease-in;
					background-color: $white;
					box-shadow: 0 rem-calc(7) 0 $white, 0 rem-calc(14) 0 $white;
				}
			}
		}

		&-button {
			color: $color-blue;
			border-color: $color-blue;
			border-radius: 5000px;
			transition: color 0.15s ease-in, border-color 0.15s ease-in;

			&:hover {
				color: lighten($topbar-responsive-bg, 60%);
				border-color: lighten($topbar-responsive-bg, 60%);
			}

			@include breakpoint(small only) {
				width: 100%;
				margin: 0.875rem 0;
			}
		}
	}

	@include breakpoint(small only) {
		padding: 0.75rem;

		.top-bar-title {
			position: relative;
			width: 100%;

			span {
				position: absolute;
				right: 0;
				border: rem-calc(2) solid $color-blue;
				border-radius: rem-calc(5);
				padding: 0.25rem 0.45rem;
				top: 50%;
				transform: translateY(-50%);

				&:hover {
					border: rem-calc(2) solid $white;
					background-color: $color-blue;
				}

				.menu-icon {
					margin-bottom: 4px;
					cursor: pointer;

					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}

@include breakpoint(small only) {
	.topbar-responsive-links {
		animation-fill-mode: both;
		animation-duration: 0.5s;
		width: 100%;

		@if $topbar-responsive-animation-type==slide-down {
			animation: slideDown 1s ease-in;
		} @else if $topbar-responsive-animation-type==fade-in {
			animation: fadeIn 1s ease-in;
		} @else {
			animation: none;
		}
	}
}

.login {
	&-line {
		@include breakpoint(large) {
			width: rem-calc(420);
			margin: 0 auto;
		}
	}
	&-signup {
		color: $color-blue;
		text-align: center;
		margin: $space-box 0;

		a {
			text-decoration: underline;
		}
	}
}

.grid {
	&-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&-middle {
		display: flex;
		align-items: center;
	}
}
