$main-menu-button-color: lightskyblue;
$language-menu-color: deepskyblue;
$top-menu-background-color: transparent;
$language-pipe-color: lightblue;
$primary-pipe-color: lightsteelblue;
$required-background-color: $pale-yellow;
$spinner-border-color: deepskyblue deepskyblue whitesmoke whitesmoke;