/*
|--------------------------------------------------------------------------
| Path Settings
|--------------------------------------------------------------------------
*/
$font-path: '/fonts';
$images-path: '/images';

/*
|--------------------------------------------------------------------------
| Color Settings
|--------------------------------------------------------------------------
*/
$color-light-gray    : #F8F8F8;
$color-gray          : #F2F2F2;
$color-dark-gray     : #7F8685;
$color-grey          : #F2F2F2;
$color-blue          : #154064;
$color-green         : #009057;

$color-text-normal   : $color-dark-gray;
$color-text-bold   : #434343;



//color
$color-text:#39454F ;
$color-link:#154064 ;
$color-line:#154064 ;
$color-yellow:#c97b2b ;
$color-navy: #154064;
$color-pink: #B45BA2;
$color-red: #cc413f;
$color-light-blue: #5093a3;
/*
|--------------------------------------------------------------------------
| Font Settings
|--------------------------------------------------------------------------
*/
$text-normal  : 'db_airystd_med';
$text-bold    : 'db_airystd_bd';

/*
|--------------------------------------------------------------------------
| Space Settings
|--------------------------------------------------------------------------
*/
$space-box: rem-calc(20);

/*
|--------------------------------------------------------------------------
| Menu
|--------------------------------------------------------------------------
*/
$topbar-responsive-bg: $white;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

/*
|--------------------------------------------------------------------------
| Layouts Settings
|--------------------------------------------------------------------------
*/
// Header
$top-header-padding-top: 1rem;
$top-header-padding-bottom: 1rem;


// Top menu
$top-menu-background-color: transparent;
$top-menu-pipe-color: lightsteelblue;

// Language menu
$language-menu-color: deepskyblue;
$language-pipe-color: lightblue;

/*
|--------------------------------------------------------------------------
| Spinner Settings
|--------------------------------------------------------------------------
*/
$spinner-border-color: deepskyblue deepskyblue whitesmoke whitesmoke;