/*
|--------------------------------------------------------------------------
| Layouts Settings
|--------------------------------------------------------------------------
*/
// Header
$top-header-padding-top: 1rem;
$top-header-padding-bottom: 1rem;

// Main menu
$main-menu-button-color: lightskyblue;

// Top menu
$top-menu-background-color: transparent;
$top-menu-pipe-color: lightsteelblue;

// Language menu
$language-menu-color: deepskyblue;
$language-pipe-color: lightblue;

/*
|--------------------------------------------------------------------------
| Input Settings
|--------------------------------------------------------------------------
*/
$required-background-color: $pale-yellow;

/*
|--------------------------------------------------------------------------
| Spinner Settings
|--------------------------------------------------------------------------
*/
$spinner-border-color: deepskyblue deepskyblue whitesmoke whitesmoke;

/*
|--------------------------------------------------------------------------
| Card Settings
|--------------------------------------------------------------------------
*/
$card-title-color: $white;