/*
|--------------------------------------------------------------------------
| Layouts Settings
|--------------------------------------------------------------------------
*/
// Header
$top-header-padding-top: 1rem;
$top-header-padding-bottom: 1rem;

// Main menu
$main-menu-button-color: lightskyblue;

// Top menu
$top-menu-background-color: transparent;
$top-menu-pipe-color: lightsteelblue;

// Language menu
$language-menu-color: deepskyblue;
$language-pipe-color: lightblue;

/*
|--------------------------------------------------------------------------
| Content Settings
|--------------------------------------------------------------------------
*/
// Cards
$card-label-font-color: $white;
$card-label-margin: 0 0 0.5rem;

$card-font-color: $dark-gray;

$card-date-font-size: rem-calc(14);

$card-title-font-size: rem-calc(24);
$card-title-font-weight: bold;
$card-title-line-height: 1.3;

/*
|--------------------------------------------------------------------------
| Input Settings
|--------------------------------------------------------------------------
*/
$required-background-color: $pale-yellow;

/*
|--------------------------------------------------------------------------
| Spinner Settings
|--------------------------------------------------------------------------
*/
$spinner-border-color: deepskyblue deepskyblue whitesmoke whitesmoke;